@import url(https://fonts.googleapis.com/css?family=Poiret+One|Merriweather:700,400);

/*Header section*/
.jumbotron {
  background-image: url("files/pluto.jpg");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  padding: 206px 0 20px 0;
  margin: 0;
  text-align: center;
  color: #f0f0f5;
}

#title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

/*end header section*/

/*body section*/

#about {
  color: #29293d;
  background-color: #f0f0f5;
}

#fancy {
  font-family: 'Poiret One', cursive;
}

#reg {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  padding: 1.5%;
}

#projects {
  color: #29293d
  padding: 100px, 0;
}

/*end body section*/

/*footer*/

.footer {
  bottom: 0;
  width: 100%;
  height: 105px;
  background-color: #f0f0f5;
  padding: .5%;
}

/*end footer*/